@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);

body { 
    margin: 0;
    overflow: hidden;
    overscroll-behavior: contain; 
}

canvas { 
    display: block; 
}

#score {
    position: absolute;
    left: 10vw;
    top: 10vh;

    color: white;
    font-family: 'Roboto Mono', sans-serif;
}